img {
  width: 300px;
  display: block;
  padding: 25px;
}
#canvasContainer {
  display: inline;
  padding: 25px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
